/* Selector {
	property: value;

} */
body {
  background-image: url('Marine.PNG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: center; */
}


 a{
      color:white;
  }
  a:visited{color:white}
  a{color:white}
  a:hover{color:magenta}


h1{
	font-size:70px;

}

h1 {text-align: center; margin-top: 72px;}


h2{
	font-size:35px;
}
h2{
	text-align: center;
}

figure {
	display: inline-block;
	
}

.img {
	position:fixed;
	margin-left: 110px;
	bottom: 100px;
  	left: 50;
    color:white;
}

.change {
  filter: invert(1);
}

/***********************************************************************
 *  Mobile responsive
 **********************************************************************/
 @media only screen and (max-width: 600px) {

 	P {
        font-size: 4vw;
    }

    h1 {
        font-size: 8vw;
        text-align: center; margin-top: 45px;
    }

     h2 {
        font-size: 4vw;
        margin-top:-10px;
    }


    .img {
	position:fixed;
	margin-left: 20px;
	bottom: 100px;
  	left: 0px;
}

   .index {
      top:350px;
    } 



}