@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

body {
  text-align:center;
  margin-left:30%; 
  margin-top:10px;
  padding: 40px;
  background-color: #121212;
  background-image: url("Marine.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Video div */
#video {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.welcome-typing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
p {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  color: rgba(255, 255, 255);

  animation: animated-text 4s steps(29, end) 20s 1 normal both,
    animated-cursor 600ms steps(29, end) 19s infinite;
}

@media only screen and (max-width: 406px) {
  body {
    margin: 0;
  }
}
